@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/fonts.css";

/* Body general */
body {
  background-color: #F5F5F5;
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
}

/* Setear fuente */
.font-general {
  font-family: 'Exo 2', sans-serif;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #a3001671;
  border-radius: 6px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Hero */
.hero-image-stack {
  margin-left: 65%;
}

.title-ferrari {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: #A30016;
  font-size: 4.5vw;
}

.title-formula {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: #161616;
  font-size: 4.5vw;
}

.title-charles {
  color: #A30016;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
}

.title-leclerc {
  color: #161616;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
}

/* About me */
.rotatedRectangle {
  position: relative;
  margin-left: -50%;
  width: 200%;
  height: 45vw;
  background-color: #161616;
  transform: rotate(7deg);
  background-image: url('./../public/lec_letters.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.image-whoami {
  margin-left: 45vw;
  margin-top: 7.5vw;
  width: 30vw;
  height: 30vw;
  transform: rotate(-7deg);
  box-shadow: '0 0 10px rgba(0, 0, 0, 0.5)',
}

.text-whoami h1 {
  text-align: left;
  margin-top: 2vw;
  margin-left: 20vw;
  transform: rotate(-7deg); 
}

.text-whoami p {
  text-align: justify;
  margin-top: 6vw;
  margin-left: 18vw;
  width: 27.5%;
  transform: rotate(-7deg); 
}

/* Best */
.carousel-image {
  width: 80%;
  height: auto;
  margin-left: 2vw;
}

/* Brands */
.slider-brands {
  padding-top: 1vw;
}

.brands-container {
  background-image: url('./../public/lec_letters_brands.png');
}